{% extends 'base.html' %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link text-white" href="{{ url_for('userhome') }}">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="{{ url_for('weatherinformation') }}">Weather information</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="{{ url_for('userabout') }}">About</a>
		</li>
	</ul>
</div>
{% endblock nav%}

{% block body %}

	<div class="row h-100 justify-content-center banner-top2" >
	</br>
	<div class="container py-2 mx-auto my-50 h-10 " style="margin: 12rem;">
  <div class="row">
      <div class="col-sm py-2 py-md-3">
          <div class="text-center " style="justify-content: center;">
               <h1 class="text-link"><b>You should grow "<i>{{ recommendation }}</i>" in your farm</b></h1>
          </div>
      </div>
  </div>
</div>
	</br>
	</div>	
		  
		  
{% endblock %}
{%block footer %}
<footer class="footer" style="background-color: rgba(38,72,43,0.2);">
</br>
	<div class="container" >
		<h2 class="logo2 text-center">
				<a href="{{ url_for('userhome') }}">
					CROP ADVISOR
				</a>
			</h2>
    </div>
	</br>
</footer>

{%endblock footer%}
